a{
    color: white;
}
.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.checked {
    color: orange;
  }


  .borderPer{
    border:1px solid rgba(6, 6, 0, 0.184);
    padding-left: 10px;
    padding-right: 10px ;
  }